html,
body {
  padding: 0;
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-storage {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
  margin: 50px 10px 0px 10px;
  height: 700px;
  width: 500px;
  padding: 0px;
  background-color: #dad5d5;
}

.todo-element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px black solid;
  border-radius: 5px;
}

.todo-date-element {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.red {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  color: red;
}

.green {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  color: green;
}

.orange {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  color: orange;
}

.blue {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  color: blue;
}

p {
  margin: 0px;
}

#delete-all {
  background-color: red;
  border-radius: 0px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 40px;
  width: 455px;
}

.error2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  height: 40px;
  width: 455px;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}
